<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="q" class="ua.mega.Question">
        <property name="id" value="1"/>
        <property name="name" value="What is Java?"/>
        <property name="answers">
            <map>
                <entry key="Java is a programming language" value="Sonoo Jaiswal"/>
                <entry key="Java is a Platform" value="Sachin Yadav"/>
            </map>
        </property>
    </bean>
</beans>