<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="e1" class="ua.mega.Employee">
        <constructor-arg name="id" value="101"/>
        <constructor-arg name="name" value="Sachin"/>
    </bean>

    <bean id="address1" class="ua.mega.Address">
        <constructor-arg name="addressLine1" value="21,Lohianagar"/>
        <constructor-arg name="city" value="Ghaziabad"/>
        <constructor-arg name="state" value="UP"/>
        <constructor-arg name="country" value="USA"/>
    </bean>

    <bean id="e2" class="ua.mega.Employee" parent="e1">
        <constructor-arg ref="address1"/>
    </bean>
</beans>