<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!--default-init-method="init"-->
       <!--default-destroy-method="destroy">-->
<!--    If you have too many beans having initialization and or destroy methods with the same name,
    you don't need to declare init-method and destroy-method on each individual bean-->

    <bean id="helloWorld" class="ua.mega.HelloWorld" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!"/>
    </bean>
</beans>