<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address1" class="ua.mega.Address">
        <property name="addressLine1" value="51,Lohianagar"/>
        <property name="city" value="Ghaziabad"/>
        <property name="state" value="UP"/>
        <property name="country" value="India"/>
     </bean>

    <bean id="obj" class="ua.mega.Employee">
        <property name="id" value="1"/>
        <property name="name" value="Sachin Yadav"/>
        <property name="address" ref="address1"/>
    </bean>
</beans>