<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>threeParams</servlet-name>
        <servlet-class>ua.mega.servlet.ThreeParams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>threeParams</servlet-name>
        <url-pattern>/threeParams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showParameters</servlet-name>
        <servlet-class>ua.mega.servlet.ShowParameters</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showParameters</servlet-name>
        <url-pattern>/showParameters</url-pattern>
    </servlet-mapping>
</web-app>