<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="obj" class="ua.mega.A"/>

    <bean id="aa" class="ua.mega.AroundAdvisor"/>

    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="obj"/>
        <property name="interceptorNames">
            <list>
                <value>aa</value>
            </list>
        </property>
    </bean>
</beans>